body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
}

a {
    color: green;
    text-decoration: none;
    target="_blank"
}