body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right top, black, green, yellow, rgb(2, 73, 2));
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
}

a {
    color: green;
    text-decoration: none;
    target="_blank";
}

a:visited {
    color:aquamarine;
    font-family: 'Arial';
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: blueviolet;
    font-weight: bold;
}

a:active {
    color: pink;
    background-color: green;
}